<div class="login-form-wrapper">
  <h1><%= t("sessions.login_form.title") %></h1>
  <div class="error-messages">
    <% if @login_error.present? %>
      <ul>
        <li><%= @login_error %></li>
      </ul>
    <% end %>
  </div>
  <%= form_with url: login_path, local: true do |f| %>
    <div class="user-form-item">
      <div class="user-form-item__label">
        <i class="far fa-envelope"></i>&nbsp;<%= f.label :email, User.human_attribute_name(:email) %>
      </div>
      <%= f.email_field :email, value: params[:email], class: "user-form-item__text-input" %>
    </div>
    <div class="user-form-item">
      <div class="user-form-item__label">
        <i class="fas fa-key"></i>&nbsp;<%= f.label :password, User.human_attribute_name(:password) %>
      </div>
      <%= f.password_field :password, class: "user-form-item__text-input" %>
    </div>
    <div class="user-form-item">
      <%= f.label :remember, User.human_attribute_name(:remember) %>
      <%= f.check_box :remember %>
    </div>
  <%= f.submit t("helpers.submit.submit") %>
  <% end %>
</div>
