<h1><%= t("sessions.login_form.title") %></h1>

<% if @login_error.present? %>
  <ul>
    <li><%= @login_error %></li>
  </ul>
<% end %>

<%= form_with url: login_path, local: true do |f| %>
  <table border="1">
    <tr>
      <th><%= f.label :name, User.human_attribute_name(:email) %></th>
      <td><%= f.email_field :email, value: params[:email] %></td>
    </tr>
    <tr>
      <th><%= f.label :password, User.human_attribute_name(:password) %></th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th><%= f.label :remember, User.human_attribute_name(:remember) %></th>
      <td><%= f.check_box :remember %></td>
    </tr>
  </table>
  <%= f.submit t("helpers.submit.submit") %>
<% end %>
