<h1><%= t("users.edit.title") %></h1>

<% if @error.present? %>
  <%= @error %>
<% end %>

<% if @user.errors.present? %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with url: user_update_path, local: true do |f| %>
  <table border="1">
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= f.text_field :name, value: @user.name %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <td><%= f.email_field :email, value: @user.email %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:current_password) %></th>
      <td><%= f.password_field :current_password %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:new_password) %></th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:new_password_confirmation) %></th>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
  </table>
  <%= f.submit t("helpers.submit.update") %>
<% end %>
