<div class="user-show-wrapper">
  <h1><%= t("users.show.title") %></h1>
  <%= image_tag image(@current_user), class: "user-image" %>
  <table>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td class="user-info"><%= @current_user.name %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <td class="user-info"><%= @current_user.email %></td>
    </tr>
  </table>
  <div class="button-group">
    <%= button_to t("users.show.edit"), user_edit_path, method: :get, class: "custom-button" %>
    <%= button_tag t("users.show.delete"), id: "open-account-delete-modal", class: "custom-button" %>
  </div>
</div>

<div id="account-delete-modal" class="custom-modal">
  <%= simple_format t("users.show.delete_message") %>
  <div class="button-group">
    <%= button_to t("dictionary.name.yes"), user_delete_path, method: :delete, class: "custom-button" %>
    <%= button_tag t("dictionary.name.no"), id: "close-account-delete-modal", class: "custom-button" %>
  </div>
</div>
