<h1><%= t("users.show.title", user_name: @user.name) %></h1>
<h2><%= User.human_attribute_name(:image) %></h2>
<table border="1">
  <tr>
    <th><%= User.human_attribute_name(:name) %></th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th><%= User.human_attribute_name(:email) %></th>
    <td><%= @user.email %></td>
  </tr>
</table>
<a><%= link_to(t("users.show.edit"), user_edit_path) %></a>
<a><%= t("users.show.delete") %></a>
