<h1><%= t("users.show.title", user_name: @user.name) %></h1>
<h2><%= User.human_attribute_name(:image) %></h2>
<% if @user.image? %>
  <%= image_tag @user.image.url %>
<% else %>
  <%= image_tag "/images/default_user_image.jpeg" %>
<% end %>
<table border="1">
  <tr>
    <th><%= User.human_attribute_name(:name) %></th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th><%= User.human_attribute_name(:email) %></th>
    <td><%= @user.email %></td>
  </tr>
</table>
<a><%= link_to t("users.show.edit"), user_edit_path %></a>
<a id="user-delete-button"><%= t("users.show.delete") %></a>

<div id="delete-modal">
  <p>
    本当にアカウントを削除しますか？<br>
    （削除すると記録も全て削除されます）
  </p>
  <%= button_to "はい", user_delete_path %>
  <button id="close-delete-modal">いいえ</button>
</div>
