<h2><%= text %>のトレーニングメニュー</h2>
<% if records.present? %>
  <h3>有酸素運動</h3>
  <% if records.where(cardio_flag: true).present? %>
    <table border="1">
      <tr>
        <th>済</th>
        <th>種目名</th>
        <th>運動時間</th>
        <th>運動強度</th>
        <th>備考</th>
      </tr>
      <% records.each do |record| %>
        <% if record.cardio_flag == true %>
          <tr>
            <td><%= record.plan_flag ? "" : "OK" %></td>
            <td><%= @workouts.find_by(id: record.workout_id).name %></td>
            <td><%= record.time.present? ? "#{record.time}分" : "- -" %></td>
            <td><%= record.intensity_id.present? ? @intensities.find_by(id: record.intensity_id).name : "- -" %></td>
            <td><%= record.remark.present? ? record.remark : "- - " %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <p>なし</p>
  <% end %>

  <h3>無酸素運動</h3>
  <% if records.where(cardio_flag: false).present? %>
    <table border="1">
      <tr>
        <th>済</th>
        <th>種目名</th>
        <th>重量</th>
        <th>レップ数</th>
        <th>セット数</th>
        <th>インターバル</th>
        <th>備考</th>
      </tr>
      <% records.each do |record| %>
        <% if record.cardio_flag == false %>
          <tr>
            <td><%= record.plan_flag ? "" : "OK" %></td>
            <td><%= @workouts.find_by(id: record.workout_id).name %></td>
            <td><%= record.weight.present? ? "#{record.weight}kg" : "- -" %></td>
            <td><%= record.rep.present? ? "#{record.rep}回" : "- -" %></td>
            <td><%= record.set.present? ? "#{record.set}セット" : "- -" %></td>
            <td><%= record.interval.present? ? "#{record.interval}秒" : "- -" %></td>
            <td><%= record.remark.present? ? record.remark : "- -" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <p>なし</p>
  <% end %>

<% else %>
  <h3>なし</h3>
<% end %>