<h2><%= text %></h2>
<% if records.present? %>
  <% if records.where(cardio_flag: true).present? %>
    <table>
      <tr>
        <th colspan="5"><%= t("dictionary.name.cardio") %></th>
      </tr>
      <tr>
        <th><%= t("dictionary.table.do_flag") %></th>
        <th><%= Record.human_attribute_name(:workout_id) %></th>
        <th><%= Record.human_attribute_name(:time) %></th>
        <th><%= Record.human_attribute_name(:intensity) %></th>
        <th><%= Record.human_attribute_name(:remark) %></th>
      </tr>
      <% records.each do |record| %>
        <% if record.cardio_flag == true %>
          <tr>
            <td><%= record.do_flag ? "" : "OK" %></td>
            <td><%= @workouts.find_by(id: record.workout_id).name %></td>
            <td><%= record.time.present? ? t("dictionary.record.value.time", time: record.time) : "- -" %></td>
            <td><%= record.intensity_id.present? ? @intensities.find_by(id: record.intensity_id).name : "- -" %></td>
            <td><%= record.remark.present? ? record.remark : "- - " %></td>
            <td class="border_none"><%= link_to t("schedules.edit"), record_edit_path(id: record.id) %></td>
            <td class="border_none"><%= link_to t("schedules.delete"), record_destroy_path(id: record.id), method: :post, data: { confirm: t("schedules.delete_message") } %></td>
          </tr>
        <% end %>

      <% end %>
    </table>
  <% end %>

  <% if records.where(cardio_flag: false).present? %>
    <table>
      <tr>
        <th colspan="7"><%= t("dictionary.name.weight") %></th>
      </tr>
      <tr>
        <th><%= t("dictionary.table.do_flag") %></th>
        <th><%= Record.human_attribute_name(:workout_id) %></th>
        <th><%= Record.human_attribute_name(:weight) %></th>
        <th><%= Record.human_attribute_name(:rep) %></th>
        <th><%= Record.human_attribute_name(:set) %></th>
        <th><%= Record.human_attribute_name(:interval) %></th>
        <th><%= Record.human_attribute_name(:remark) %></th>
      </tr>
      <% records.each do |record| %>
        <% if record.cardio_flag == false %>
          <tr>
            <td><%= record.do_flag ? "OK" : "" %></td>
            <td><%= @workouts.find_by(id: record.workout_id).name %></td>
            <td><%= record.weight.present? ? t("dictionary.record.value.weight", weight: record.weight) : "- -" %></td>
            <td><%= record.rep.present? ? t("dictionary.record.value.rep", rep: record.rep) : "- -" %></td>
            <td><%= record.set.present? ? t("dictionary.record.value.set", set: record.set) : "- -" %></td>
            <td><%= record.interval.present? ? t("dictionary.record.value.interval", interval: record.interval) : "- -" %></td>
            <td><%= record.remark.present? ? record.remark : "- -" %></td>
            <td class="border_none"><%= link_to t("schedules.edit"), record_edit_path(id: record.id) %></td>
            <td class="border_none"><%= link_to t("schedules.delete"), record_destroy_path(id: record.id), method: :post, data: { confirm: t("schedules.delete_message") } %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>

<% else %>
  <h3><%= t("dictionary.table.none") %></h3>
<% end %>
