<h2 id="select-month-button">
  <%= t("schedules.month_details.title", year: @select_year_month.year, month: @select_year_month.month) %>
</h2>

<table>
  <% if @month_records.present? %>
    <tr>
      <th><%= t("dictionary.table.plan_flag") %></th>
      <th><%= Record.human_attribute_name(:date) %></th>
      <th><%= Record.human_attribute_name(:workout_id) %></th>
      <th colspan="3"><%= t("schedules.month_details.contents") %></th>
    </tr>
    <% @month_records.each do |record| %>
      <tr>
        <td><%= record.plan_flag ? "" : "OK" %></td>
        <td><%= record.date %></td>
        <td><%= @workouts.find_by(id: record.workout_id).name %></td>
        <% if record.cardio_flag? %>
          <td colspan="3"><%= record.time.present? ? t("dictionary.record.value.time", time: record.time) : "- -" %></td>
        <% else %>
          <td><%= record.weight.present? ? t("dictionary.record.value.weight", weight: record.weight) : "- -" %></td>
          <td><%= record.rep.present? ? t("dictionary.record.value.rep", rep: record.rep) : "- -" %></td>
          <td><%= record.set.present? ? t("dictionary.record.value.set", set: record.set) : "- -" %></td>
        <% end %>
        <td class="border_none"><%= link_to t("schedules.edit"), controller: "records", action: "edit", id: record.id %></td>
        <td class="border_none"><%= link_to t("schedules.delete"), record_destroy_path(id: record.id), method: :post, data: { confirm: t("schedules.delete_message")} %></td>
      </tr>
    <% end %>
  <% else %>
    <h3><%= t("dictionary.table.none") %></h3>
  <% end %>
</table>