<h2>月のスケジュール</h2>
<table border="1">
  <% if @month_records.present? %>
    <tr>
      <th>済</th>
      <th>日付</th>
      <th>種目名</th>
      <th colspan="3">内容</th>
    </tr>
    <% @month_records.each do |record| %>
      <tr>
        <td><%= record.plan_flag ? "" : "OK" %></td>
        <td><%= record.date %></td>
        <td><%= @workouts.find_by(id: record.workout_id).name %></td>
        <% if record.cardio_flag? %>
          <td colspan="3"><%= record.time.present? ? "#{record.time}分" : "- -" %></td>
        <% else %>
          <td><%= record.weight.present? ? "#{record.weight}kg" : "- -" %></td>
          <td><%= record.rep.present? ? "#{record.rep}回" : "- -" %></td>
          <td><%= record.set.present? ? "#{record.set}セット" : "- -" %></td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <h3>なし</h3>
  <% end %>
</table>