<%= render partial: "navbar" %>
<div class="schedule-button-list">
  <ul>
    <li><%= button_tag t("schedules.date.yesterday"), value: "yesterday", class: "date-table-switch" %></li>
    <li><%= button_tag t("schedules.date.today"), value: "today", class: "date-table-switch" %></li>
    <li><%= button_tag t("schedules.date.tomorrow"), value: "tomorrow", class: "date-table-switch" %></li>
  </ul>
</div>
<div id="schedule-details">
  <%= render partial: "date_details", locals: {records: @date_records, text: t("schedules.date.today")} %>
</div>
