<%= form_with url: post_url, local: true, id: "details-table" do |f| %>
  <%= f.hidden_field :id, value: @record.id %>
  <%= f.hidden_field :cardio_flag, value: @record.cardio_flag %>
  <table>
    <tr>
      <th>
        <%= f.label :workout_id, Record.human_attribute_name(:workout_id) %>
        <span class="required-icon"><%= t("dictionary.table.required") %></span>
      </th>
      <td>
        <%= f.collection_select :workout_id, @workouts, :id, :name,
                                {:prompt => t("helpers.select.prompt"), selected: @record.workout_id} %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :date, Record.human_attribute_name(:date) %>
        <span class="required-icon"><%= t("dictionary.table.required") %></span>
      </th>
      <td><%= raw sprintf(
                      f.date_select(:date, order: [:year, :month, :day], use_month_numbers: true,
                                    start_year: 2020, end_year: 2040, default: @record.date,
                                    date_separator: '%s'), # 年月日区切りをそれぞれ指定
                      '年 ', '月 ') + '日' %></td>
    </tr>
    <tr>
      <th><%= f.label :do_flag, Record.human_attribute_name(:do_flag) %></th>
      <td><%= f.check_box :do_flag, {checked: @record.do_flag} %></td>
    </tr>
    <% if @record.cardio_flag # 有酸素 %>
      <tr>
        <th>
          <%= f.label :time, Record.human_attribute_name(:time) %>
          <span class="optional-icon"><%= t("dictionary.table.optional") %></span>
        </th>
        <td><%= f.number_field :time, value: @record.time, min: 1, max: 600, step: 1 %><%= t("datetime.prompts.minute") %></td>
      </tr>
      <tr>
        <th>
          <%= f.label :intensity, Record.human_attribute_name(:intensity) %>
          <span class="optional-icon"><%= t("dictionary.table.optional") %></span>
        </th>
        <td><%= f.collection_select :intensity_id, @intensities, :id, :name, {prompt: t("helpers.select.prompt"), selected: @record.intensity_id} %></td>
      </tr>
    <% else # 無酸素 %>
      <tr>
        <th><%= f.label :weight, Record.human_attribute_name(:weight) %>
          <span class="optional-icon"><%= t("dictionary.table.optional") %></span>
        </th>
        <td><%= f.number_field :weight, value: @record.weight, min: 1, max: 500, step: 1 %><%= t("records.form_details.unit.weight") %></td>
      </tr>
      <tr>
        <th><%= f.label :rep, Record.human_attribute_name(:rep) %>
          <span class="optional-icon"><%= t("dictionary.table.optional") %></span>
        </th>
        <td><%= f.number_field :rep, value: @record.rep, min: 1, max: 500, step: 1 %><%= t("records.form_details.unit.rep") %></td>
      </tr>
      <tr>
        <th><%= f.label :set, Record.human_attribute_name(:set) %>
          <span class="optional-icon"><%= t("dictionary.table.optional") %></span>
        </th>
        <td><%= f.number_field :set, value: @record.set, min: 1, max: 50, step: 1 %><%= t("records.form_details.unit.set") %></td>
      </tr>
      <tr>
        <th>
          <%= f.label :interval, Record.human_attribute_name(:interval) %>
          <span class="optional-icon"><%= t("dictionary.table.optional") %></span>
        </th>
        <td><%= f.number_field :interval, value: @record.interval, min: 1, max: 600, step: 1 %><%= t("datetime.prompts.second") %></td>
      </tr>
    <% end %>
    <tr>
      <th>
        <%= f.label :remark, Record.human_attribute_name(:remark) %>
        <span class="optional-icon"><%= t("dictionary.table.optional") %></span>
      </th>
      <td><%= f.text_area :remark, value: @record.remark, class: "remark-field", maxlength: 255 %></td>
    </tr>
  </table>
  <%= f.submit t("helpers.submit.create") %>
<% end %>
