<h1><%= t("records.edit.title") %></h1>

<%= render partial: "error_messages" %>

<div class="form">
  <table border="1">
    <tr>
      <th><%= t("records.category") %></th>
      <td>
        <%= collection_select(:category, :id, Category.all, :id, :name,
                              {prompt: t("helpers.select.prompt"), selected: @category_id}, {id: "category-select"}) %>
      </td>
    </tr>
  </table>
  <div id="record-details"><%= render partial: "form_details" %></div>
</div>
