<h1><%= t("records.new.title") %></h1>

<% if @record.errors.present? %>
  <ul>
    <% @record.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<div class="form">
  <table border="1">
    <tr>
      <th><%= t("records.category") %></th>
      <td>
        <%= collection_select(:category, :id, Category.all, :id, :name,
                              {prompt: t("helpers.select.prompt")}, {id: "category-select"}) %>
        <%= hidden_field_tag "plan[flag]", @plan_flag # jQueryに値を渡す用
        %>
      </td>
    </tr>
  </table>
  <div id="record-details"></div>
</div>
