<header>
  <ul>
    <% if session[:user_id].present? %>
      <li>Workoutスケジュール管理アプリ</li>
    <% else %>
      <li><%= link_to("Workoutスケジュール管理アプリ", root_path) %></li>
    <% end %>
  </ul>
  <ul>
    <% if session[:user_id].present? %>
      <li>項目入力</li>
      <li><%= link_to("スケジュール確認", schedule_path) %></li>
      <li><%= link_to("ユーザー情報", user_path) %></li>
      <li><%= link_to("ログアウト", logout_path, method: :post) %></li>
    <% else %>
      <li><%= link_to("新規登録", signup_path) %></li>
      <li><%= link_to("ログイン", login_path) %></li>
    <% end %>
  </ul>
</header>