<header>
  <ul>
    <% if session[:user_id].present? %>
      <li><%= link_to("Workoutスケジュール管理アプリ", schedule_path) %></li>
    <% else %>
      <li><%= link_to("Workoutスケジュール管理アプリ", root_path) %></li>
    <% end %>
  </ul>
  <ul>
    <% if session[:user_id].present? %>
      <li><%= link_to("スケジュール確認", schedule_path) %></li>
      <li><%= link_to("計画種目を記録", controller: "records", action: "new", flag: "true") %></li>
      <li><%= link_to("実施済み種目を記録", controller: "records", action: "new", flag: "false") %></li>
      <li><%= link_to("ユーザー情報", user_path) %></li>
      <li><%= link_to("ログアウト", logout_path, method: :post) %></li>
    <% else %>
      <li><%= link_to("新規登録", signup_path) %></li>
      <li><%= link_to("ログイン", login_path) %></li>
    <% end %>
  </ul>
</header>